
body{
    background-color: #333;
    color: #aaa;
    text-align: center;
    justify-content: center;
}
h1, h3{
    text-align: center;
}
ul{
    list-style: none;
}
a{
    text-decoration-style: none;
    font-style: normal;
    color: #bbb;
<<<<<<< HEAD
    text-decoration-line: none;
=======
     text-decoration-line: none;
>>>>>>> bcf2db126d02bf671bcabd38d48981003e79dacf
}

